<form method="POST" action="/submit" novalidate>
  <div class="form-field">
    From:
    <input type="text" name="origin" value="CUN">

    To:
    <input type="text" name="destination" value="MIA">

    Date:
    <input type="text" name="date" value="2019-01-12">

    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </div>
</form>
